.app {
  background-color: #59d407;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
  margin-left: 550px;
  margin-top: 50px;
  text-align: center;
  
}


.logo {
  padding: 4%;
}
.header {
  grid-template-columns: 60% 40% 40% 30%;
  background-color: rgb(68, 0, 114);
  margin: 0px;
  color: #ff6f61;
  padding: 1%;

}
a {
  color: inherit;
  text-decoration: none;
  color: rgb(6, 255, 151);
  font-size: 150%;
  font-style: initial;
}
img {
  display: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline;
  margin: 0 7% 0 1%;
  color: rgba(0, 0, 0, 0.705);
  font-style: inherit;
  font-style: italic;
}
.grid {
  display: grid;
} 
.color-primary {
  color: #ff6f61;
}

.button{
  color: rgb(255, 0, 0);
}



.heading{
  background-color: rgb(30, 255, 60);
  text-align: center;
}

 
