


.head {
    grid-template-columns:grid;
    text-align:center;
    background-color: rgb(68, 0, 114);
    margin: 0px;
    color: #ff6f61;
    padding: 1%;
  
  }
  a {
    color: inherit;
    text-decoration: none;
    color: rgb(255, 6, 6);
    font-size: 150%;
    font-style: initial;
  }
  
  ul {
    list-style: none;
  }
  li {
    display: inline;
    margin: 0 7% 0 1%;
    color: rgba(0, 0, 0, 0.705);
    font-style: inherit;
    font-style: italic;
  }
  .grid {
    display: grid;
  } 

  
  
  
  

  
  